<html>

<body>
<div>
<form action="\" method="post">
    <input type="text" name="nomerZadania" placeholder="Введите номер задания">
    <textarea type="text" name="textZadania" placeholder="textZadania"></textarea>
    <textarea type="text" name="uslovie" placeholder="uslovie"></textarea>
    <input type="text" name="otvet" placeholder="Введите ответ">
    <textarea type="text" name="dopText" placeholder="dopText"></textarea>

        <button type="submit">Добавить</button>
</form>
</div>
<div>Exercise List</div>
{{#exercises}}
    <div>
        <b>{{id}}</b>
        <b>{{nomerZadania}}</b>
        <p>{{textZadania}}</p>
        <p>{{uslovie}}</p>
        <p>{{otvet}}</p>
        <p>{{dopText}}</p>
    </div>
{{/exercises}}
</body>
</html>