<html>

<body>
<div>
<form action="\" method="post">
    <input type="text" name="nomer" placeholder="Введите номер задания">
    <textarea type="text" name="textzadania" placeholder="Введите условие"></textarea>
    <textarea type="text" name="uslovie" placeholder="Введите текст задания"></textarea>
    <input type="text" name="otvet" placeholder="введите ответ">
    <textarea type="text" name="text" placeholder="Введите добаочный текст"></textarea>
        <button type="submit">Добавить</button>
</form>
</div>
<div>Exercise List</div>
{{#exercises}}
    <div>
        <b>{{id}}</b>
        <b>{{nomer}}</b>
        <p>{{textzadania}}</p>
        <p>{{uslovie}}</p>
        <b>{{otvet}}</b>
        <p>{{text}}</p>
    </div>
{{/exercises}}
</body>
</html>