<html>

<body>
<div>
<form action="\" method="post">
    <textarea type="text" name="text" placeholder="Введите сообщение"/>
    <textarea type="text" name="tag" placeholder="Tag">
    <button type="submit">Добавить</button>
</form>
</div>
<div>Exercise List</div>
{{#exercises}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
    </div>
{{/exercises}}
</body>
</html>